# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/coverage.txt

# Native library produced by the local libbls build check.
/libraries/libbls/libbls

opcode.trace

.*
!/.gitignore
!/.github

/vendor
/esdata
.env
*.log
